.event-color-1 {
  color: #7986CB;
}

.event-color-2 {
  color: #33B679;
}

.event-color-3 {
  color: #8E24AA;
}

.event-color-4 {
  color: #E67C73;
}

.event-color-5 {
  color: #F6BF26;
}

.event-color-6 {
  color: #F4511E;
}

.event-color-7 {
  color: #039BE5;
}

.event-color-8 {
  color: #616161;
}

.event-color-9 {
  color: #3F51B5;
}

.event-color-10 {
  color: #0B8043;
}

.event-color-11 {
  color: #D50000;
}